# Warning this file is controlled by chef
<VirtualHost *:80>

        ServerName code.technophobia.com
	ServerAlias code.technophobia.com *.code.technophobia.com

        CustomLog "|/usr/bin/cronolog /home/code/sites/code.technophobia.com/logs/%Y/%m/access_log.%Y%m%d" combined
        ErrorLog "|/usr/bin/cronolog /home/code/sites/code.technophobia.com/logs/%Y/%m/error_log.%Y%m%d" 

       RewriteEngine On
       RewriteRule !^/substeps/eclipse/.* http://substeps.technophobia.com


        DocumentRoot /home/code/sites/code.technophobia.com/htdocs

        <Directory /home/code/sites/code.technophobia.com/htdocs>
                Options  FollowSymLinks Includes
                AllowOverride none
                Order deny,allow
                allow from all
        </Directory>

        <Directory /home/code/sites/code.technophobia.com/htdocs/substeps/eclipse/stable >
                Options  FollowSymLinks Includes Indexes
                AllowOverride none
                Order deny,allow
                allow from all
        </Directory>

</VirtualHost>
