<VirtualHost *:80>
        ServerName dmz-showcase.showcase.orangebus.co.uk
        ServerAlias showcase.orangebus.co.uk   *.showcase.orangebus.co.uk
        DocumentRoot /home/showcase/showcase.orangebus.co.uk/htdocs
        CustomLog "|/usr/bin/cronolog /home/showcase/showcase.orangebus.co.uk/logs/%Y/%m/health_access_log.%Y%m%d" combined
        ErrorLog "|/usr/bin/cronolog /home/showcase/showcase.orangebus.co.uk/logs/%Y/%m/health_error_log.%Y%m%d"

        <Directory "/home/showcase/showcase.orangebus.co.uk/htdocs/health/">
                Require all granted
        </Directory>
</VirtualHost>
