# Warning this file is controlled by chef
<VirtualHost *:80>
        ServerName www.lenderscompared.org.uk
        ServerAlias lenderscompared.org.uk *.lenderscompared.org.uk
        ServerAlias lenderscompared.org *.lenderscompared.org
        ServerAlias lenderscompared.co.uk *.lenderscompared.co.uk
        ServerAlias lenderscompared.net *.lenderscompared.net

        CustomLog "|/usr/bin/cronolog /home/lchold/sites/lenderscompared.org.uk/logs/%Y/%m/access_log.%Y%m%d" combined
        ErrorLog "|/usr/bin/cronolog /home/lchold/sites/lenderscompared.org.uk/logs/%Y/%m/error_log.%Y%m%d"

        DocumentRoot /home/lchold/sites/lenderscompared.org.uk/htdocs/non-secure

        <Directory /home/lchold/sites/lenderscompared.org.uk/htdocs/non-secure>
                Options  FollowSymLinks Includes
                AllowOverride none
                Order deny,allow
                allow from all
        </Directory>
</VirtualHost>

<VirtualHost *:443>
        ServerName www.lenderscompared.org.uk

        CustomLog "|/usr/bin/cronolog /home/lchold/sites/lenderscompared.org.uk/logs/%Y/%m/secure_access_log.%Y%m%d" combined
        ErrorLog "|/usr/bin/cronolog /home/lchold/sites/lenderscompared.org.uk/logs/%Y/%m/secure_error_log.%Y%m%d"

        SSLEngine on
        SSLCertificateFile /home/lchold/sites/lenderscompared.org.uk/certs/www.lenderscompared.org.uk.cert
        SSLCertificateKeyFile /home/lchold/sites/lenderscompared.org.uk/certs/www.lenderscompared.org.uk.key
	SSLCertificateChainFile /home/lchold/sites/lenderscompared.org.uk/certs/DigiCertCA.crt
        SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown
        SSLProtocol -ALL +SSLv3 +TLSv1
        SSLCipherSuite SSLv3:TLSv1:!NULL:!LOW:!EXPORT

        DocumentRoot /home/lchold/sites/lenderscompared.org.uk/htdocs/non-secure

        <Directory /home/lchold/sites/lenderscompared.org.uk/htdocs/non-secure>
                Options  FollowSymLinks Includes
                AllowOverride none
                Order deny,allow
                allow from all
        </Directory>

</VirtualHost>

