<VirtualHost *:80>
        ServerName dmz-showcase.showcase.orangebus.co.uk
        ServerAlias showcase.orangebus.co.uk   *.showcase.orangebus.co.uk
        DocumentRoot /home/showcase/sites/showcase.orangebus.co.uk/htdocs
        CustomLog "|/usr/bin/cronolog /home/showcase/sites/showcase.orangebus.co.uk/logs/%Y/%m/access_log.%Y%m%d" combined
        ErrorLog "|/usr/bin/cronolog /home/showcase/sites/showcase.orangebus.co.uk/logs/%Y/%m/error_log.%Y%m%d" 

RewriteEngine On 
RewriteRule !^/.+ http://www.orangebus.co.uk

<% @sites.each do |site,password| %>

<%="        <Directory \"/home/showcase/sites/showcase.orangebus.co.uk/htdocs/#{site}/\">" %>
                Options +Indexes +FollowSymLinks
                AddType text/cache-manifest .appcache
                AllowOverride none
				AuthBasicProvider file
<%="            AuthUserFile /home/showcase/sites/showcase.orangebus.co.uk/locking/htpasswd.#{site}" %>
                AuthName Showcase
                AuthType Basic
                Require valid-user
                Require ip 81.23.57.44
        </Directory>  

<% end %>


</VirtualHost>

# Just for Metro Subdomains
<VirtualHost *:80>

        ServerName metrobank.technophobia.com
        ServerAlias *.metrobank.technophobia.com

        CustomLog "|/usr/bin/cronolog /home/showcase/sites/showcase.orangebus.co.uk/logs/%Y/%m/metro_sub-access_log.%Y%m%d" combined
        ErrorLog "|/usr/bin/cronolog /home/showcase/sites/showcase.orangebus.co.uk/logs/%Y/%m/metro_sub-error_log.%Y%m%d" 

        RewriteEngine On
        RewriteCond %{HTTP_HOST} ^([^.]+)\.metrobank\.technophobia\.com$
        RewriteRule .* - [E=MB_SUBDOMAIN:%1]
        RewriteCond %{HTTP_HOST} ^\.metrobank\.technophobia\.com$
        RewriteRule .* - [L]

        RewriteCond /%{ENV:MB_SUBDOMAIN}/ -d
        RewriteRule ^/(.*) /%{ENV:MB_SUBDOMAIN}/$1 [QSA]
        RewriteCond /%{ENV:MB_SUBDOMAIN}/ -d
        RewriteCond /%{ENV:MB_SUBDOMAIN}/ !-d
        RewriteRule ^/(.*) /%{ENV:MB_SUBDOMAIN}/$1 [QSA]
        RewriteCond /%{ENV:MB_SUBDOMAIN}/ !-d
        RewriteRule ^/(.*) /%{ENV:MB_SUBDOMAIN}/$1 [QSA]

        DocumentRoot /home/showcase/sites/showcase.orangebus.co.uk/htdocs/metrobank-subdomains/www

        <Directory /home/showcase/sites/showcase.orangebus.co.uk/htdocs/metrobank-subdomains/www>

                Options -Indexes +FollowSymLinks -Includes
                AddType text/cache-manifest .appcache
                AllowOverride none
                AuthUserFile /home/showcase/sites/showcase.orangebus.co.uk/locking/htpasswd.metrobank
                AuthName Showcase
                AuthType Basic
                Require valid-user
                AllowOverride None
        </Directory>

</VirtualHost>

# Just for Barnet
<VirtualHost *:80>

        ServerName lbbshowcase.technophobia.com
        ServerAlias *.lbbshowcase.technophobia.com

        CustomLog "|/usr/bin/cronolog /home/showcase/sites/showcase.orangebus.co.uk/logs/%Y/%m/lbbshowcase_access_log.%Y%m%d" combined
        ErrorLog "|/usr/bin/cronolog /home/showcase/sites/showcase.orangebus.co.uk/logs/%Y/%m/lbbshowcase-error_log.%Y%m%d" 

        DirectoryIndex index.html index.htm

        RewriteEngine On
        RewriteCond %{HTTP_HOST} ^([^.]+)\.lbbshowcase\.technophobia\.com$
        RewriteRule .* - [E=SUBDOMAIN:%1]
        RewriteCond %{HTTP_HOST} ^lbbshowcase\.technophobia\.com$
        RewriteRule .* - [E=SUBDOMAIN:www]

        RewriteCond /<%= @sitepath %>/htdocs/lbbshowcase-subdomains/%{ENV:SUBDOMAIN}/ -d
        RewriteRule ^/(.*) /home/showcase/sites/showcase.orangebus.co.uk/htdocs/lbbshowcase-subdomains/%{ENV:SUBDOMAIN}/$1 [QSA]

        DocumentRoot /home/showcase/sites/showcase.orangebus.co.uk/htdocs/lbbshowcase-subdomains

        <Directory /home/showcase/sites/showcase.orangebus.co.uk/htdocs/lbbshowcase-subdomains>

                Options -Indexes +FollowSymLinks -Includes
                AddType text/cache-manifest .appcache
                AllowOverride none
                AuthUserFile /home/showcase/sites/showcase.orangebus.co.uk/locking/htpasswd.lbbshowcase
                AuthName Showcase
                AuthType Basic
                Require valid-user
        </Directory>

</VirtualHost>

