#Warning this file is controlled by CHEF

<VirtualHost *:80>
        ServerName substeps.technophobia.com
        ServerAlias *.substeps.technophobia.com
        Redirect permanent / http://substeps.g2g3.digital/
</VirtualHost>

<VirtualHost *:80>

        ServerName substeps.g2g3.digital
      # ServerAlias substeps.technophobia.com *.substeps.technophobia.com substeps
        ServerAlias substeps

        CustomLog "|/usr/bin/cronolog /home/substeps/sites/substeps.technophobia.com/logs/%Y/%m/access_log.%Y%m%d" combined
        ErrorLog "|/usr/bin/cronolog /home/substeps/sites/substeps.technophobia.com/logs/%Y/%m/error_log.%Y%m%d" 

        DocumentRoot /home/substeps/sites/substeps.technophobia.com/htdocs

        <Directory /home/substeps/sites/substeps.technophobia.com/htdocs>
                Options  FollowSymLinks Includes
                AllowOverride none
                Order deny,allow
                allow from all
        </Directory>

</VirtualHost>

